@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #406;
}

.Board {
    margin-left: 12px;
    display: grid;
    grid-gap: 2px;
    width: 270px;
    height: 490px;
    background: rgb(32, 0, 64);
    border: 10px solid rgb(32, 0, 64);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media (min-width: 550px) {
    .Board {
        margin: auto;
    }
}

.BoardCell {
    width: auto;
    border-radius: 6px;
    position: relative;
}

.tetromino {
    border-top: 3px solid rgba(255, 255, 255, 0.1);
    border-left: 3px solid rgba(255, 255, 255, 0.1);
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    border-right: 3px solid rgba(0, 0, 0, 0.1);
}

/* Sparkle size adjustments */
.tetromino .Sparkle {
    position: absolute;
    z-index: 10;
    width: 6px;
    height: 6px;
    left: -2px;
    top: -2px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 4px 4px;
}

.tetromino.ghost {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
}

.tetromino.ghost .Sparkle {
    opacity: 0;
}

/* Tetromino colors remain unchanged */
.tetromino__i {
    background-color: rgba(80, 227, 230, 1);
}

.tetromino__j {
    background-color: rgba(36, 95, 223, 1);
}

.tetromino__l {
    background-color: rgba(223, 173, 36, 1);
}

.tetromino__o {
    background-color: rgba(223, 217, 36, 1);
}

.tetromino__s {
    background-color: rgba(48, 211, 56, 1);
}

.tetromino__t {
    background-color: rgba(132, 61, 198, 1);
}

.tetromino__z {
    background-color: rgba(240, 80, 195, 1);
}

.Menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    z-index: 100;
}

.Preview-board {
    display: grid;
    grid-gap: 2px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: clamp(40px, 10vw, 60px);
    height: clamp(40px, 10vw, 60px);
}